@import "variable";
@import "reset";
@import"utility";

body {

    background-color: $dark;
    color: $light;
}

.seat {
    height: 2rem;
    width: 2rem;
    border: 0.2rem solid $primary;
    // margin: 1rem;
    transition: 400ms;
}

.seat:hover {
    box-shadow: 0rem 0rem 1rem $primary;
    transform: scale(1.2);
}

.head:hover {
    // padding: 10px;
    box-shadow: 0rem 0rem 1rem $primary;
    transform: scale(1.1);
}